.c-site-nav {
	font-size: $h5-font-size;
	font-weight: $lead-font-weight;
}

/* stylelint-disable */
.menu-item {

	margin-left: $spacer;

	a {
		color: $gray-800;
		font-weight: $font-weight-bold;

		@include hover-focus {
			text-decoration: none;
			color: $cyan;
		}
	}

	&.active a {
		color: $cyan;
	}
}
/* stylelint-enable */
