//
// Custom Variables
//

@import "custom";
@import "bootstrap/functions";
@import "bootstrap/variables";

//
// Bootstrap framework
//

@import "bootstrap/bootstrap";


//
// Objects
//

@import "objects/o-icon";
@import "objects/o-ratio";



//
// Components
//

@import "components/c-site-wrap";
@import "components/c-site-header";
@import "components/c-site-footer";
@import "components/c-site-nav";
@import "components/c-off-canvas-nav";
@import "components/c-jumbotron";
@import "components/c-case-item";
@import "components/c-promo";
@import "components/c-card";
@import "components/c-article";


//
// Overrides
//



//
// States
//

@import "states/has-fixed-head";


html {
	font-size: 14px;
}

@include media-breakpoint-up(md) {

	html {
		font-size: 16px;
	}
}



//
// Editor style.
//

/* stylelint-disable */
.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

body.mce-content-body {
	margin: $spacer;
	font-family: $font-family-sans-serif;
	font-size: $h5-font-size;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
	color: $body-color;
	background-color: $body-bg;

	h2,
	h3,
	h4 {
		margin-top: $spacer * 2;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}
/* stylelint-enable */
