// See lib/lazysizes.php

.o-ratio {
	position: relative;
	display: block;
	width: 100%;
}

.o-ratio__helper {
	display: block;
	height: 0;
	width: 100%;
	padding-bottom: 56.25%;
}

.o-ratio img,
.o-ratio iframe,
.o-ratio video,
.o-ratio object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



// Legacy ratio code
/*
.o-ratio {
	position: relative;
	display: block;
	overflow: hidden;
	padding-bottom: (9 / 16) * 100%;
	height: 0;
}

.o-ratio__content,
.o-ratio > embed,
.o-ratio > iframe,
.o-ratio > object {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
*/
